doctype html
html
  head
    title Space to Play
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/index.css')
    //- link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    h1 Space to Play
    br
    h2 Profile:
    div=user.fullname
    div=user.username
    div=user.instrument
    div=user.location
    div=user.aboutme